/* Stili generali */
body {
    background-color: #16193e;
    color: #94a3b8;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #16193e;
    color: #ffffff;
    width: 300px;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: hidden; /* Rimosso overflow-y per evitare scrollbar */
    z-index: 1000;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
}

main {
    margin-left: 300px;
    padding: 20px;
    flex: 1;
    background-color: transparent;
}

.section-title {
    color: #64ffda;
}

.card {
    background-color: #10182d;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.btn {
    background-color: #16193e;
    border-color: #64ffda;
    color: #64ffda;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.btn:hover {
    background-color: #64ffda;
    border-color: #64ffda;
    color: #16193e;
}

.btn:focus, .btn:active {
    background-color: #52e6c4;
    border-color: #52e6c4;
    color: #ffffff;
    outline: none;
}

.social-icons {
    margin-top: 20px;
    gap: 15px;
    font-size: 36px;
    text-align: left;
}

.upwork-icon {
    margin-bottom: 7px;
    width: 40px;
    height: 40px;
}

.nav-link {
    position: relative;
    padding: 0.5rem 0;
    color: #94a3b8;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1rem;
    transition: color 0.3s ease;
}

.nav-link.active {
    color: #64ffda !important;
}

.nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #64ffda;
    transition: width 0.3s ease;
}

.nav-link:hover::before,
.nav-link.active::before {
    width: 100%;
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-label {
    color: #ffffff;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #64ffda;
    letter-spacing: 2px;
    margin-bottom: 1rem;
}

.skill-item h4 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.progress {
    height: 1.5rem;
    background-color: #2d3748;
    border-radius: 5px;
}

.progress-bar {
    font-size: 1rem;
    line-height: 1.5rem;
    color: #16193e;
    text-align: center;
    border-radius: 5px;
}

@media (max-width: 768px) {
    header {
        width: 100%;
        height: auto;
        position: relative;
    }

    main {
        margin-left: 0;
        margin-top: 20px;
        padding: 10px;
    }

    .nav {
        align-items: center;
    }

    .social-icons {
        justify-content: center;
    }
}

@media (min-width: 1200px) {
    header {
        width: 350px;
    }

    main {
        margin-left: 350px;
    }
}
